@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body {
/*	background: url('../img/hands.jpg') no-repeat center center fixed; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	background-color: #002147;
    color: #333;
  	font-family: 'Open Sans',Arial,Helvetica,Sans-Serif;
  	font-size: 14px;
}

.jumbotron {
    background-color: rgba(0,0,0,0.2);
    color: #fff;
}

.jumbotron p {
    color: #ccc;
}

.cdt-block {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
   background-color: rgba(255,255,255,0.8);
   margin: 30px 10px;
   padding: 10px 20px;
   height: 450px;
   position:relative;

}

.preamble {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
   background-color: rgba(255,255,255,0.8);
   padding: 20px;
   margin-top: 30px;
   margin-bottom: 30px;   
   width: 100%;
}

#tbl {
    margin-top : 50px;
    font-size: 90%;    
}

ul {
    margin-left:5px;
    padding-left:10px;
}

#tbl img {
    margin: 10px;
}

.focus {
    font-weight: bold;
}

.cdt-block .housing {
    font-weight: bold;
    font-size: 80%;
    color: #999;
}

.prog-desc {
    position: absolute;
    top: 140px;
    padding-right: 20px;
}

.cdt-block img {
    float: right;
}


thead th {
   text-align: center;
}

footer {
    color: #CCC;
    text-align: center;
    font-size: 80%
}
